<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wan.dao.TCheckgroupCheckitemMapper">
    <resultMap id="BaseResultMap" type="com.wan.pojo.TCheckgroupCheckitem">
        <!--@mbg.generated-->
        <!--@Table t_checkgroup_checkitem-->
        <id column="checkgroup_id" jdbcType="INTEGER" property="checkgroupId"/>
        <id column="checkitem_id" jdbcType="INTEGER" property="checkitemId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        checkgroup_id, checkitem_id
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from t_checkgroup_checkitem
        where checkgroup_id = #{checkgroupId,jdbcType=INTEGER}
        and checkitem_id = #{checkitemId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wan.pojo.TCheckgroupCheckitem">
        <!--@mbg.generated-->
        insert into t_checkgroup_checkitem (checkgroup_id, checkitem_id)
        values (#{checkgroupId,jdbcType=INTEGER}, #{checkitemId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.wan.pojo.TCheckgroupCheckitem">
        <!--@mbg.generated-->
        insert into t_checkgroup_checkitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="checkgroupId != null">
                checkgroup_id,
            </if>
            <if test="checkitemId != null">
                checkitem_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="checkgroupId != null">
                #{checkgroupId,jdbcType=INTEGER},
            </if>
            <if test="checkitemId != null">
                #{checkitemId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <insert id="insertByMap" parameterType="HashMap">
        insert into t_checkgroup_checkitem (checkgroup_id, checkitem_id)
        VALUES
        (#{checkgrouopId},#{checkitemId})
    </insert>
</mapper>